.pagination {margin: 0; vertical-align: middle;}
.table .center { text-align: center; }
.table .right { text-align: right; }
.table .footer td {font-weight: bolder; color: #3a87ad; font-size: 13px;}
body {background: #3c3c3c;}
